[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
bcrypt = "*"

[dev-packages]
eralchemy2 = "*"
sqlalchemy-schemadisplay = "*"

[requires]
python_version = "3.11"
