[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = {extras = ["standard"] }
loguru = "*"
argon2-cffi = "*"
python-dotenv = "*"
pyjwt = "*"

[dev-packages]
#eralchemy2 = "*"
httpx = "*"
pytest = "*"

[requires]
python_version = "3.11"
